* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
header{
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    box-sizing: border-box;
    height: 100px;
    background-color: black;
    z-index: 2;
}

.logo{
    height: 60px;
}

.menu-item{
    margin: 0 1rem;
    font-weight: 600;
    cursor: pointer;
    color: white;
    font-family: 'Londrina Solid', sans-serif;
    float: right;
    font-size: 25px;
}

  /* Estilos para el menú desplegable */
.menu-container {
    position: relative;
    display: inline-block;
}

.menu-title {
    cursor: pointer;
    text-decoration: underline;
    text-decoration: none;
}

.menu-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}

.menu-container:hover .menu-content {
    display: block;
    
}

/* Estilos para los elementos del menú */

.menu-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color:black;
}

.menu-content a:hover {
    background-color:black;
    color: white;
}

.flecha{
    width: 10px;
}
.color{
    color: white;
}
footer{
    background-color: black;
    color: white;
    
}

/*BODY*/

html,body{
    display: grid;
    height: 100%;    
    place-items: center;
    text-align: center;
    background: #000000;
}
.container{
    position: relative;
    width: 400px;
    background: #111;
    padding: 20px 30px;
    border: 1px solid #444;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container .post{
    display: none;
}
.container .text{
    font-size: 25px;
    color: #666;
    font-weight: 500;
}
.container .edit{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 16px;
    color: #666;
    font-weight: 500;
    cursor: pointer;
}
.container .edit:hover{
    text-decoration: underline;
}
.container .star-widget input{
    display: none;
}
.star-widget label{
    font-size: 40px;
    color: #444;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
    color: #fd4;
}
input:checked ~ label{
    color: #fd4;
}
input#rate-5:checked ~ label{
    color: #fe7;
    text-shadow: 0 0 20px #952;
}
#rate-1:checked ~ form p:before{
    content: "Lo odio ";
}
#rate-2:checked ~ form p:before{
    content: "No me gusta ";
}
#rate-3:checked ~ form p:before{
    content: "Es asombroso ";
}
#rate-4:checked ~ form p:before{
    content: "Me gusta ";
}
#rate-5:checked ~ form p:before{
    content: "Me encanta ";
}
.container form{
    display: none;
}
input:checked ~ form{
    display: block;
}
form p{
    width: 100%;
    font-size: 25px;
    color: #fe7;
    font-weight: 500;
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
}
form .textarea{
    height: 100px;
    width: 100%;
    overflow: hidden;
}
form .textarea textarea{
    height: 100%;
    width: 100%;
    outline: none;
    color: #eee;
    border: 1px solid #333;
    background: #222;
    padding: 10px;
    font-size: 17px;
    resize: none;
}
.textarea textarea:focus{
    border-color: #fffefe;
}
form .btn{
    height: 45px;
    width: 100%;
    margin: 15px 0;
}
form .btn button{
    height: 100%;
    width: 100%;
    border: 1px solid #444;
    outline: none;
    background: #222;
    color: #999;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}
form .btn button:hover{
    background: #1b1b1b;
}