* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
}
header{
    height: 100%;/* cambiado por gagan */
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    box-sizing: border-box;
    height: 100px;
    background-color: black;
     z-index: 1000; /* añadidio por gagan */
}

.logo{
   max-height: 60px;/* cambiado por gagan */
}

.menu-item{
    margin: 0 1rem;
    font-weight: 600;
    cursor: pointer;
    color: white;
    font-family: 'Londrina Solid', sans-serif;
    float: right;
    font-size: 25px;
}
  /* Estilos para el menú desplegable */
  .menu-container {
    position: relative;
    display: inline-block;
}

.menu-title {
    cursor: pointer;
    text-decoration: underline;
    text-decoration: none;
   
}

.menu-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}

.menu-container:hover .menu-content {
    display: block;
    
}

/* Estilos para los elementos del menú */
.menu-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color:black;
}

.menu-content a:hover {
    background-color:black;
    color: white;
}

.flecha{
    width: 10px;
}
.color{
    color: white;
}

footer{
  
    background-color: black;
    color: white;
    padding: 2%;
    font-family: 'Londrina Solid', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espacio entre los elementos */
}
#nombres{
    font-size: 30px;
    text-align: left;
    margin-right: 20px; /* Agrega un margen entre los párrafos y las imágenes */
}
.redes-sociales {
    display: flex; /* Para alinear las imágenes horizontalmente */
}
.imagenesfooter{
    width: 50px; /* Define el ancho de las imágenes */
    margin-right: 10px; /* Agrega un margen entre las imágenes */

}
.fecha{
    font-size: 15px;
    text-align: left;
    position: relative;
    left: 65.5%;
    bottom: -40px;

}
.logo{
    margin: 0;
    font-size: 30px;
    text-align: left;
    margin-right: 377px; 
}

.bio{

    position: relative;
    padding-top: 100px;
   
    }
.imglogo{
    position: relative;
    padding-top: 50px;
    left: 130px;
    font-size: 50px;
    width: 415px;

}
.desc{
position: relative;
left: 5%;
top: 50px;
border-radius: 51px;
background: black;
width: 539px;
height: 452px;
flex-shrink: 0;
padding-left: 5%;

}

.text{
position: absolute;
left: 3%;
top: 15%;
color: white;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

body{
    
    background-color:rgb(155, 155, 155);
 
font-family: Londrina Solid;
}

.imgcircle{
    position: absolute;
 border-radius: 267px;

width: 267px;
height: 267px;
flex-shrink: 0;
left: 50%;
top: 5%;

}

.descimg1{

    position: absolute;
    top: 15%;
    left: 70%;
    right: 10%;
}

.imgcircle2{
    position: absolute;
 border-radius: 267px;
width: 267px;
height: 267px;
flex-shrink: 0;
left: 50%;
top: 50%;
}

.descimg2{

    position: absolute;
    top: 60%;
    left: 70%;
    right: 10%;
}
.imgcircle3{
    position: absolute;
 border-radius: 267px;

width: 267px;
height: 267px;
flex-shrink: 0;
left: 50%;
top: 677px;
}
.descimg3{

    position: absolute;
    top: 750px;
    left: 70%;
    right: 10%;
}
#fondo:hover {
    opacity: 0.5;
  }


.valoración1{
    position: relative;
    padding-top: 250px;
    padding-bottom: 100px;
    margin-left: 300px;
}
  .valoración {
    left: 30%;
    width: 600px;
    height: 450px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.rating {
    
    font-size: 24px;
}

.rating input[type="radio"] {
    display: none;
}

.rating label {
    cursor: pointer;
}

.rating label:before {
    content: "\2605"; /* Estrella vacía */
}

.rating input[type="radio"]:checked ~ label:before {
    content: "\2605"; /* Estrella rellena */
    color: #FFD700; /* Color dorado */
}

.comment {
    margin-top: 20px;
}

.comment textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

.comment button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.fecha{
    font-size: 15px;
    text-align: left;
    position: relative;
    left: 65.5%;
    bottom: -40px;

}
.logo{
    margin: 0;
    font-size: 30px;
    text-align: left;
    margin-right: 377px; 
}


.carucel{
    position: relative;
    padding-top: 600px;
    

}

.maps{

    position: relative;
    padding-top: 300px;  
}
#mapa{
margin-left: 100px;    
}
button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px; /* Le damos esquinas redondeadas al botón */
    cursor: pointer;
}

/*CARRUSEL*/
.FOTS{
    display: flex;
    width: 1000px;
    height: 530px;
    margin-top: 200px;
    margin-left: 450px;
    margin-bottom: 150px;
}

.FOTS img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.FOTS img:hover{
    cursor: crosshair;
    width: 500px;
    opacity: 1;
    filter: contrast(120%);
}